---
# Only the main Sass file needs front matter (the dashes are enough)
---

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.hero {
  color: #fff;
  background-image: url("/assets/hero_portrait_bg.jpg");
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100%;
  float: left;
  position: relative;
}

.intro {
  font-family: "Hind", sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.intro__name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.intro__occupation {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.intro__occupation em {
  color: #cf5300;
  font-weight: bold;
}

.intro__social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.intro__social-media a:hover {
  color: #cf5300;
}

.scroll-hint {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.scroll-hint a {
  color: rgba(255, 255, 255, 0.15);
}


.nav {
  background-color: #bbb;
  height: 100%;
  float: left;
}

.nav-item {
  display: block;
  background-size: cover;
  color: #fff;
  background-color: hsla(24.1,100%,1%,0.7);
  background-blend-mode: multiply;
  height: 25%;
  padding-left: 15%;
  text-decoration: none;
  background-position: left 0 top 50%;
}

.nav-item--services {
  background-image: url("/assets/services_bg.jpg");
}

.nav-item--resume {
  background-image: url("/assets/resume_bg.jpg");
}

.nav-item--contact {
  background-image: url("/assets/contact_bg.jpg");
}

.nav-item--blog {
  background-image: url("/assets/writings_bg.jpg");
  background-position: left 0 top 66%;
}

.nav-item > div {
  background-color: rgba(255, 255, 255, 0.07);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 1.5rem;
  padding-left: 2rem;
}

.nav-item__icon {
  color: #cf5300;
  margin-right: 2rem;
  position: relative;
  top: 0.2rem;
  font-size: 2.5rem;
}

.nav-item__name {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.3rem;
  font-size: 1.25rem;
}

.nav-item__description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}

@media screen and (max-aspect-ratio: 1/1) {
  .hero {
    background-image: url("/assets/hero_portrait_bg.jpg");
  }
  .hero {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .hero {
    background-image: url("/assets/hero_landscape_bg.jpg");
  }
  .hero {
    width: 60%;
  }
  .nav {
    width: 40%;
  }
}

@media screen and (min-width: 560px) {
  .intro__name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .intro__occupation {
    font-size: 1rem;
  }

  .nav-item > div {
    padding: 0.5rem;
    padding-left: 1rem;
  }

  .nav-item__icon {
    margin-right: 1.5rem;
    top: 0.4rem;
    font-size: 2rem;
  }

  .nav-item__name {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }

  .nav-item__description {
    font-size: 1rem;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .intro__name {
    font-size: 3rem;
    line-height: 3rem;
  }

  .intro__occupation {
    font-size: 1.5rem;
  }

  .scroll-hint {
    display: none;
  }

  .nav-item__icon {
    font-size: 3rem;
  }

  .nav-item__name {
    letter-spacing: 0.3rem;
    font-size: 1.8rem;
  }

  .nav-item__description {
    font-size: 1.5rem;
  }
}
