---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.category %} • {{ page.category|capitalize }}{% endif %}{% if page.tags %} • {{ page.tags|join: ", "|capitalize }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% unless site.draft %}
    {% if page.comments  %}
      {% include disqus.html %}
    {% endif %}
  {% endunless %}
</div>
